/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
  /*===== Colors =====*/
  --soft-white: #fbfaf5;
  --soft-black: #181a18;
  --white: #ffffff;
  --black: #0a0a0a;
  --text-grey: #444950;
  --text-grey-d: #495057;
  /* --light-white: #1c1d20; */
  --theme-red: #df5441;
  --theme-yellow: #f6aa1c;
  --theme-blue: #dfe7fd;
  --text-grey: #444950;
  --light-grey: #ebebeb;
  --success: #13ae8f;
  --error: #ff3333;

  /*===== Font and typography =====*/
  --pri-font: "Plus Jakarta Sans", sans-serif;
  --sec-font: "Inter", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --fs-6: 6rem;
  --fs-5-5: 5.5rem;
  --fs-5: 5rem;
  --fs-4-5: 4.5rem;
  --fs-4: 4rem;
  --fs-3-5: 3.5rem;
  --fs-3: 3rem;
  --fs-2-5: 2.5rem;
  --fs-2: 2rem;
  --fs-1-5: 1.5rem;
  --fs-1: 1rem;
  --fs-0-95: 0.95rem;
  --fs-0-85: 0.85rem;
  --fs-0-75: 0.75rem;
  --fs-0-65: 0.65rem;
  --fs-0-5: 0.5rem;
  --fs-0-25: 0.275rem;
  --fs-0-2: 0.2rem;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*===== Margenes Bottom =====*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-3-5: 3rem;
  --mb-4: 4rem;
  --mb-4-5: 4.5rem;
  --mb-5: 5rem;
  --mb-5-5: 5.5rem;
  --mb-6: 6rem;
  --mb-6-5: 6.5rem;
  --mb-7: 7rem;
  --mb-7-5: 7.5rem;
  --mb-8: 8rem;
}

/*========== BASE SECTION ==========*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: var(--pri-font);
  font-size: var(--fs-1);
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--white);
  color-scheme: light dark;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--mb-8);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: fit-content;
  height: auto;
  padding: var(--mb-0-75) var(--mb-1-5);
  font-size: 1.1rem;
  font-weight: 500;
  font-family: var(--body-font);
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 2rem;
  bottom: -5rem;
  background-color: var(--secondary-blue);
  opacity: 0.9;
  padding: var(--mb-0-5);
  border-radius: 0.4rem;
  z-index: 1.1;
  transition: 0.4s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollup:hover {
  opacity: 1;
  bottom: 2.35rem;
  /* background-color: var(--primary-pink); */
}

.scrollup__icon {
  font-size: 1.5rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .scrollup:hover .scrollup__icon {
  color: var(--primary-pink);
} */

/* Show scroll */
.show-scroll {
  bottom: 2rem;
}

/* section {
  border: 1px tomato solid;
} */

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* --------- =========== SOON SECTION =========== --------- */

.soon {
  width: 100%;
  height: 100dvh;
  background-color: var(--white);
}

.s-container {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.sc-title {
  position: absolute;
  top: var(--mb-2);
  left: var(--mb-2);
  justify-content: flex-start;
}

.sc-title h3 {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: left;
  color: var(--black);
}

.sc-content {
  flex: 0 0 45%;
  height: 100%;
  justify-content: flex-start;
  padding: 0 var(--mb-2);
}

.sc-content h1 {
  font-size: 3.8rem;
  text-align: left;
  font-weight: 600;
  color: var(--black);
  line-height: 1.15;
  /* font-family: var(--sec-font); */
}

.sc-img {
  flex: 0 0 55%;
  height: 100%;
  overflow: hidden;
  /* border: 2px green solid; */
}

.sc-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--mb-3) var(--mb-2);
  background-color: #aeb8fe;
  z-index: 30;
}

.scf {
  width: 100%;
  align-items: flex-start;
  /* row-gap: var(--mb-0-5); */
}

.scf p {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: left;
  color: var(--soft-black);
  /* opacity: 0.95; */
}

.scf-socials {
  width: 100%;
  justify-content: flex-start;
  column-gap: var(--mb-1);
  margin-top: var(--mb-0-5);
}

.scf-socials a {
  flex: 0 0 auto;
  font-size: 0.8rem;
  color: var(--soft-black);
  /* opacity: 0.95; */
  font-weight: 600;
  text-align: left;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

#scf-span {
  position: absolute;
  bottom: -100%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--theme-yellow);

  transition: all 0.3s ease;
  z-index: -1;
}

.scf-socials a:hover {
  color: var(--black);
}

.scf-socials a:hover #scf-span {
  bottom: 5px;
}

.scf-contact {
  width: 100%;
  align-items: flex-start;
  row-gap: var(--mb-0-25);
}

.scf-contact a {
  font-size: 0.75rem;
  color: var(--black);
  font-weight: 600;
  text-align: left;
  /* text-transform: lowercase; */
}

.sc-svg {
  width: 7%;
  height: 40%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff8600;
  z-index: 30;
}

/* ======= [ ANIMATED CAROUSEL ] ======= */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Hide Fallback content first */
  .fallback {
    display: none;
  }

  .carousel {
    display: block !important;
    max-height: none !important;
    position: relative;
    overflow: hidden;
    /* border: 4px red solid; */
    width: 100%;
    /* height: 100%; */
  }

  /* 
      Selective blocking for clients.
      - Samsung (#MessageViewBody) - no absolute positioning
      - Comcast/Zimbra (body.MsgBody) - inconsistent CSS support
      */
  #MessageViewBody .fallback,
  body.MsgBody .fallback {
    display: block;
  }
  #MessageViewBody .carousel,
  body.MsgBody .carousel {
    display: none !important;
  }

  .carousel a {
    width: 100%;
    height: 100% !important;
    display: block;
  }

  .carousel img {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }

  .carousel.responsive {
    width: 100% !important;
    height: 100%;
  }

  .carousel.responsive .car-cont {
    width: 100% !important;
    height: 100% !important;
  }

  /* Fade  */
  .carousel.fade a {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-animation: car-anim 9s linear infinite;
  }

  .carousel.fade a:nth-child(1) {
    position: relative;
    -webkit-animation-delay: -10s;
  }
  .carousel.fade a:nth-child(2) {
    -webkit-animation-delay: -7s;
  }
  .carousel.fade a:nth-child(3) {
    -webkit-animation-delay: -4s;
  }

  @-webkit-keyframes car-anim {
    /* start fade in */
    0% {
      z-index: 2;
      opacity: 0;
    }
    /* end fade in */
    5% {
      opacity: 1;
    }
    33% {
      z-index: 2;
    }
    /* lower z-index - allow next image to fade in */
    33.1% {
      z-index: 1;
    }
    /* already obscured */
    38% {
      opacity: 1;
    }
    /* hide */
    38.1% {
      opacity: 0;
    }
    100% {
      z-index: 1;
      opacity: 0;
    }
  }
}

/*===== MEDIA QUERIES =====*/
@media screen and (max-width: 430px) {
  /* --------- =========== SOON SECTION =========== --------- */

  .soon {
    width: 100%;
    height: 100dvh;
    background-color: var(--white);
  }

  .s-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .sc-title {
    position: absolute;
    top: var(--mb-1-5);
    left: var(--mb-1-5);
    justify-content: flex-start;
  }

  .sc-title h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  .sc-content {
    flex: 0 0 auto;
    width: 100%;
    height: 40%;
    justify-content: flex-start;
    padding: 0 var(--mb-1-5);
    padding-bottom: var(--mb-2);
    align-items: flex-end;
  }

  .sc-content h1 {
    font-size: 2.7rem;
    text-align: left;
    font-weight: 600;
    color: var(--black);
    line-height: 1.1;
    /* font-family: var(--sec-font); */
  }

  .sc-img {
    flex: 0 0 auto;
    height: 60%;
    overflow: hidden;
    /* border: 2px green solid; */
  }

  .sc-footer {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    padding: var(--mb-1) var(--mb-1-5);
    background-color: #aeb8fe;
    z-index: 30;
  }

  .scf {
    width: 100%;
    align-items: flex-start;
    /* row-gap: var(--mb-0-5); */
  }

  .scf p {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .scf-socials {
    width: 100%;
    justify-content: flex-start;
    column-gap: var(--mb-1);
    margin-top: var(--mb-0-5);
  }

  .scf-contact {
    display: none;
  }

  .sc-svg {
    width: 15%;
    height: 12.5%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ff8600;
    z-index: 30;
  }
}

@media screen and (min-width: 1600px) {
  .sc-title {
    position: absolute;
    top: var(--mb-1-5);
    left: var(--mb-6);
    justify-content: flex-start;
  }

  .sc-title h3 {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--black);
  }

  .sc-content {
    flex: 0 0 45%;
    height: 100%;
    justify-content: flex-start;
    padding: 0 var(--mb-6);
  }

  .sc-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.1;
    /* font-family: var(--sec-font); */
  }

  .sc-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: unset;
    column-gap: var(--mb-8);
    padding: var(--mb-3) var(--mb-6);
    background-color: #aeb8fe;
    z-index: 30;
  }

  .scf {
    flex: 0 0 auto;
    width: auto;
    /* row-gap: var(--mb-0-5); */
  }

  .scf-contact {
    flex: 0 0 auto;
    width: auto;
    row-gap: var(--mb-0-25);
  }

  .sc-svg {
    width: 5%;
    height: 25%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ff8600;
    z-index: 30;
  }
}
